.WinnerMsg{
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 100;
    display:flex;
    justify-content: center;
    align-items: center;
}

.winnerMsgOpen{
    animation: openMsg .5s ease-out forwards;
}
.winnerMsgClose{
    animation: closeMsg .5s ease-out forwards;
}

@keyframes openMsg {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeMsg {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}


.winnerMsg{
    height:250px;
    width:400px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 40px 5px black;
    position: absolute;
    padding: 0px 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all .4s ease-out;
}

.trophyImg{
   width:100px;
   height:auto;
   margin-bottom: 10px;

}

.red{
    color: red;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.blue{
    color: blue;
}

.buttons{
    display:flex;
    justify-content: center;
    column-gap: 10px;
}

.buttons button:hover{
    background-color: lightblue;
}